plotly-express
langchain
langchain-community==0.2.10
langchain-openai
pandas
numpy==1.24.2
scikit-learn==1.2.1
extra-streamlit-components
python-dotenv==1.0.0
datetime
streamlit==1.36.0
plotly
streamlit
yfinance
pandas-datareader
prophet
tensorflow
torch
